body {
    font-family: 'Ubuntu', sans-serif;
}

.ubuntu-font {
    font-size: 60px;
}

.paragraph-1 {
    font-size: 15px;
}

.half-width {
    width: 50%;
    
}

.link-button{
    text-decoration: none;
    background-color:#eb343a;
}